{% assign api_cats = "api localizations locales uuid" | split: ' ' %}
<h1>{{ site.title }}</h1>
<ul id='links'>
  <li><a href="/api.html">API Documentation</a></li>
  {% for post in site.posts %}
    {% if post.category == null %}
    <li><a href='#{{ post.url }}'>{{ post.title }}</a></li>
    {% endif %}
  {% endfor %}
  {% for category in site.categories %}
    {% unless api_cats contains category[0] %}
      <li><h2>{{ category | first }}</h2>
        <ul>
        {% for posts in category %}
          {% for post in posts %}
            <li class='{{ post.type }}'><a href='#{{ post.url }}'>{{ post.title }}</a></li>
          {% endfor %}
        {% endfor %}
        </ul>
      </li>
    {% endunless %}
  {% endfor %}
</ul>
