.small-6.small-offset-3.columns
  %fieldset
    %legend #{@locale.name} #{t('.locale_for')} #{@localization.name}

    = render 'locale_form', locals: { locale: @locale, localization: @localization }
